.navbar {
    background-color:black;
    margin-bottom: 0px;
}
html > body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
button {
    font-family: 'Merienda One', cursive;
}
.title {
    font-family: 'Merienda One', cursive;
    font-size: 30px;
    color: white;
    margin: 40%;
}