<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <button routerLink="/Home" routerLinkActive="active">Home</button>                                                
  <button routerLink="/About" routerLinkActive="active">About</button> 
  <button routerLink="/Register" routerLinkActive="active">Register</button>
  <button routerLink="/Login" routerLinkActive="active">Login</button>                                             
</mat-toolbar>


<h-tag>fire</h-tag><h-tag>lasers</h-tag><drop-tag>
  + tag
  <div>
    <a href="">a</a>
    <a href="">b</a>
    <a href="">c</a>
  </div>
</drop-tag>

<router-outlet></router-outlet>
