



<div *ngIf="place" style="display:flex;">
  <div style="width:50%;">
    <div>
      <h1 *ngIf="place" style="font-variant: small-caps;">{{place.PlaceName}}</h1>
    </div>
    <hr>
    <div>
      <label for="PlaceName"> Name:</label>
      <span>{{place.PlaceName}}</span>
    </div>

    <div>
      <label for="PlaceLocation">Location:</label>
      <span>{{place.PlaceLocation}}</span>
    </div>

    <div id="tagsList">
      <h-tag *ngFor="let tag of place.Tags" id="{{tag.TagId}}">{{tag.TagName}}</h-tag>
    </div>

    <div>
      <label for="PlaceDescription"> Description:</label>
      <p>{{place.PlaceDescription}}</p>
    </div>

    <div>
      <a href="https://www.expedia.com/"><h2> Expedia:</h2> </a>
    </div>

    <div>
      <h2><button mat-raised-button routerLink="/placeDelete" routerLinkActive="active">Delete</button></h2>
    </div>
  </div>
  <div>
    <h2><button mat-raised-button routerLink="/tagRequestCreate/{{place.PlaceId}}" routerLinkActive="active">Request a New Tag</button></h2>
  </div>
</div>


  <div id="right">
    <img src="{{placeImageUrl_}}" id="image">
    <iframe id="google" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3057.87654629221!2d-86.01050395790213!3d39.966512784651094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8814b476e095e67f%3A0xf30febeda02337ab!2s12175+Visionary+Way%2C+Fishers%2C+IN+46038!5e0!3m2!1sen!2sus!4v1555601891735!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

