<body>
  <div>
    <div>
      <img width="350" alt="logo" src="../../assets/mapfinger.jpg">
    </div>
    <div style="display:flex;">
      <div style="border:none;width:50%;text-align:center;">
        <h2 class="left">Know a good place?</h2>
      </div>
      <div style="width:50%;border:none;text-align: center;">
        <h2 class="right">Looking for a good place?</h2>
      </div>
    </div>
    <div style="display:flex;">
      <div style="border:none;width:50%;text-align: center;">
        <h2 class="left"><button>Add a Place</button></h2>
      </div>
      <div style="width:50%;border:none;text-align:center;">
        <h2 class="right"><button>Choose your #s</button></h2>
      </div>
    </div>
    <div style="display:flex;">
        <div style="border:none;width:50%;text-align: center;">
          <h2 class="left"><button>Browse all Places</button></h2>
        </div>
        <div style="width:50%;border:none;text-align:center;">
          <h2 class="right"><button>Browse all #s</button></h2>
       </div>
       </div>   
    </div>     
</body>

