<body id="innerbody">
    <button id="button" mat-raised-button routerLink="/placeCreate">Add a Place</button>
  <div>
   <h1>All Places</h1>
  </div>
  <div style="background-color: rgba(243, 234, 234, .7);">
    <div *ngFor="let place of allPlaces" style=" padding-bottom: 5px; margin-bottom: 0px;margin-top: 0px;">
      <hr>
      <a  routerLink="/placeDetail/{{place.PlaceId}}"><h2>{{place.PlaceName}}</h2></a>
      <h4>{{place.PlaceLocation}}</h4>
      <a routerLink="/placeEdit/{{place.PlaceId}}" style="font-variant:small-caps;">edit</a>
      <div style="margin-bottom: 5px;"><h-tag *ngFor="let tag of place.Tags">{{tag.TagName}}</h-tag></div>
    </div>
  </div>
</body>