
#innerbody {
    background-image:url("../../../../assets/adventuremap.jpg");
    filter: grayscale(100%);
    background-size: cover;
    background-color: black;
    margin: 0px;
    padding-top: 10px;
    /* Lol! Fire cake!  */
}

#table {
    font-family: 'Merienda One', cursive;
    background-color: rgb(243, 234, 234, .7);
    margin: 0px 10px 0px 10px;
    padding: 0px;
}
h1 {
    font-family: 'Merienda One', cursive;
    color: black; 
    margin: 0px 10px 0px 10px;
    background-color: rgb(243, 234, 234, .7);
    padding-left: 10px;

}
