<body id="innerbody">

    <div id="Z" style="display:none;" #jsonOutput>{{JSON.stringify(tagService.getTags())}}</div>
    <!-- <div id="ALLTAGS">
    <span *ngFor="let k of getTags_()" id="{{k.TagId}}">{{k.TagName}}</span>
    </div> -->

    <div *ngIf="place">
        <form (ngSubmit)="onSubmit(getTagData())" [formGroup]="_placeForm">
            <div id="form">
                <h1>Edit "{{place.PlaceName}}"</h1>
                <div hidden>
                    <mat-form-field>
                        <input matInput placeholder="PlaceId" formControlName="PlaceId" type="PlaceId" required [value]="place.PlaceId" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="width: 90%">
                        <input matInput placeholder="Name of Place" formControlName="PlaceName" type="text" required [value]="place.PlaceName"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="width: 90%" >
                        <input matInput placeholder="Location" formControlName="PlaceLocation" type="text" required [value]="place.PlaceLocation"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="width: 90%">
                        <textarea matInput placeholder="Description" formControlName="PlaceDescription" required [value]="place.PlaceDescription"></textarea>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="width: 90%">
                        <input matInput placeholder="Place Image Url" formControlName="PlaceImageUrl" type="text" [value]="place.PlaceImageUrl"/>
                    </mat-form-field>
                </div>
                <div>
                    <ul id="tagCont">
                    </ul>
                    <select id="tagSelector">
                        <option *ngFor="let tag of allTags" value="{{tag.TagId}}">{{tag.TagName}}</option>
                    </select>
                    <button mat-raised-button onclick="event.preventDefault(); addTag();">+Tag</button>
                </div>
                <button class="button" mat-raised-button type="submit">Save Changes</button>
                <br />
                <br />
                <button class="button" mat-raised-button routerLink="/places">Back to All Places</button>
            </div>
            <div *ngIf="refreshTagsOutput">{{refreshTagsOutput()}}</div>
            <!-- <john-script src="/assets/placeCreate.js"></john-script> -->
            <j-script>
                TEMPLATE = function(tval,tagName,innerHTML) %bl;
                    return `%lt;h-tag id="$%bl;tval%br;"%gt;$%bl;tagName%br;&nbsp;&nbsp;%lt;a onclick="removeTag('$%bl;tval%br;');"%gt;X%lt;/a%gt;%lt;/h-tag%gt;$%bl;innerHTML%br;`;
                %br;
            </j-script>
            <j-script-2 code="superJohnDebugMode = true; allTags = []; setInterval((e)=>{allTags = JSON.parse(document.getElementById('Z').innerText);},1000); globalThis['addTag'] = function() { console.log(allTags); var tval = tagSelector.value; console.log(tval); var kxn = 0; for (var tag of allTags) { console.log(`[${kxn++}] = ${tag.TagId} (${typeof tag.TagId})`); } var kxnr = allTags.filter(function(e) { return e.TagId == tval }); console.log(`KXNR: ${JSON.stringify(kxnr)}`); tagCont.innerHTML = TEMPLATE(tval,kxnr[0].TagName,tagCont.innerHTML); document.getElementById(tagSelector.value).tagId = tagSelector.value; }; function removeTag(id) { for (var k of tagCont.children) { if (k.tagId == id) { k.outerHTML = ''; } } } function getTagData() { var tgd = []; for (var k of document.getElementById('tagSelector').children)tgd.push(k.tagId);return tgd;}"></j-script-2>
            <john-script src="/assets/loaderFix.js"></john-script>
        </form>
    </div>
</body>
        
        
        