#innerbody {
    background-size: cover;
    background-color: black;
    margin: 0px;
    padding-top: 10px;
    /* Lol! Fire cake!  */
}

#table {
    font-family: 'Merienda One', cursive;
    background-color: rgb(243, 234, 234, .55);
    margin: 0px 10px 0px 10px;
    padding: 0px;
}
h1 {
    font-family: 'Merienda One', cursive;
    color: black; 
    padding-left: 10px;
    background-color: rgb(243, 234, 234, .7);
    margin: 0px 10px 0px 10px;
}

#button {
    color: white;
    font-family: 'Merienda One', cursive;
    border: 1px solid #000;
    width: 225px;
    background-color: black;
    margin-left: 40vw;
 
}
#button:hover {
    color: orange;
}
