<body id="innerbody">

<div>
<h1>All Tag Requests</h1>
</div>

  <mat-table id="table" [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="TagRequestName">
      <mat-header-cell *matHeaderCellDef> Tag Request Name </mat-header-cell>
      <mat-cell *matCellDef="let tagRequest"> {{tagRequest.TagRequestName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="TagRequestUserName">
      <mat-header-cell *matHeaderCellDef> Tag Request UserName </mat-header-cell>
      <mat-cell *matCellDef="let tagRequest"> {{tagRequest.TagRequestUserName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="TagRequestDate">
      <mat-header-cell *matHeaderCellDef> Tag Request Date </mat-header-cell>
      <mat-cell *matCellDef="let tagRequest"> {{tagRequest.TagRequestDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="TagRequestPlace">
      <mat-header-cell *matHeaderCellDef> Tag Request Place </mat-header-cell>
      <mat-cell *matCellDef="let tagRequest"> {{tagRequest.TagRequestPlace}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let tagRequest" routerLink="/tagRequest/detail/{{tagRequest.TagRequestId}}"> 
      <i class="material-icons">library_books</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let tagRequest">
        <i mat-icon class="material-icons" routerLink="/tagRequest/delete/{{tagRequest.TagRequestId}}">delete</i>
        <i class="material-icons">library_books</i>
      </mat-cell>
    </ng-container>


  </mat-table>

</body>

