
body{
  background-size: cover;
  margin: 0px;
  padding-top: 10px;
  background-image: url("../../../assets/sandBW.jpeg");
}

#message {
height: 150px;
width: 90%;
}
.container {
background-color: rgb(243, 234, 234, .4);
margin: 0% 5% 0% 5%;
text-align: center;
padding-bottom: 5px;
}
p {
font-family: 'Merienda One', cursive;
font-size: 13px;
color:black;
}
