
  body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-size: 100%;
    background-image: url("src/assets/adventuremap.jpg");
}
   
#name,#email,#message {
  font-size: 15pt;
  color:plum;
}

h1{
  font-family: 'Merienda One', cursive;
  font-size: 30px;
  color:purple;
}

label{
  font-family: 'Merienda One', cursive;
  font-size: 30px;
  color:purple;
}
p {
  font-family: 'Merienda One', cursive;
font-size: 19px;
color:black;
}
h4{
  font-family: 'Merienda One', cursive;
  font-size: 30px;
  color:plum;

    
}
.center {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    width: 100%;
    padding: 10px;
  }