<body id="innerbody">
<h1>Create New Account</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="_registerForm">
  <div id="form">
    <div >
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="Email" type="email" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="Password" type="password" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Comfirm Password" formControlName="ConfirmPassword" type="password" required />
      </mat-form-field>
    </div>
  </div>
  <div >
    <button mat-raised-button class="button" type="submit">Register</button>
  </div>
</form>
</body>
